<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">
    <link rel="stylesheet" href="{% static 'css/create_order.css' %}">
    <script src="{% static 'js/create_order.js' %}"></script>

    <title>Title</title>
</head>
<body>
<div class="header">
      <nav>
          <ul class="head_menu">
              <li class="head_menu__item">
                  <a class="head_menu__link" href="{% url 'home' %}">
                      ТОИР Управление ремонтами и обслуживанием оборудования
                  </a>
              </li>
              <li class="head_menu__item">
                  <a class="head_menu__link" href="#">
                      Личный кабинет
                  </a>
              </li>
          </ul>
      </nav>
      <nav>
          <ul class="main_menu">
              <li class="main_menu__item">
                  <a class="main_menu__link" href="{% url 'home' %}">
                      Главная
                  </a>
              </li>
              <li class="main_menu__item">
                  <a class="main_menu__link" href="{% url 'order' %}">
                      Документооборот
                  </a>
              </li>
              <li class="main_menu__item">
                  <a class="main_menu__link" href="#">
                      Архив
                  </a>
              </li>
              <li class="main_menu__item">
                  <a class="main_menu__link" href="#">
                      Журнал
                  </a>
              </li>
          </ul>
      </nav>
  </div>
<main class="content">
    <div class="menu">
        <nav>
            <ul class="navigation-menu">
                <li class="navigation-menu__item">
                    <button class="navigation-menu__button" type="button">
                        <a href="{% url 'order' %}" class="navigation-menu__link">
                            <span class="navigation-menu__text">Все служебные записки</span>
                        </a>
                    </button>
                </li>
                <li class="navigation-menu__item">
                    <button class="navigation-menu__button" type="button">
                        <a href="{% url 'create_order' %}" class="navigation-menu__link">
                            <span class="navigation-menu__text">Создать заявку</span>
                        </a>
                    </button>
                </li>
                <li class="navigation-menu__item">
                    <button class="navigation-menu__button" type="button">
                        <a href="#" class="navigation-menu__link">
                            <span class="navigation-menu__text">Редактировать заявку</span>
                        </a>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
    <div class="form-block">
        <div class="title">
            <h1 class="order-title">Регистрация новой заявки:</h1>
        </div>
        <div class="order-form-block">
            <form id="order-form" action="{% url 'create_order' %}" enctype="multipart/form-data" method="POST" class="order-form" name="order-form">
                {% csrf_token %}
                <div class="order-container">
                    <div class="equipment-container">
                        <div class="equipment">
                            <label class="select-equipment">
                                <span class="field-name">Номер цеха(корпуса):</span>
                                <select class="select_equipment_data" name="factory_number"  required>
                                    {% for el in workshop_number %}
                                    <option value="" hidden></option>
                                    <option class="option-values"
                                            value="{{ el.workshop_number }}">{{ el.workshop_number }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                        <div class="equipment">
                            <label class="select-equipment">
                                <span class="field-name">Номер пролёта:</span>
                                <select class="select_equipment_data" name="factory_floor"  required>
                                    {% for el in equipment_span_number %}
                                    <option value="" hidden></option>
                                    <option class="option-values"
                                            value="{{ el.span_number }}">{{ el.span_number }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                        <div class="equipment">
                            <label class="select-equipment">
                                <span class="field-name">Класс оборудования:</span>
                                <select class="select_equipment_data" name="equipment_group"  required>
                                    {% for el in groups %}
                                    <option value="" hidden></option>
                                    <option class="option-values" value="{{ el.group }}">{{ el.get_group_display }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                        <div class="equipment">
                            <label  class="select-equipment">
                                <span class="field-name">Наименование оборудования:</span>
                                <select class="select_equipment_data" name="equipment_name"  required>
                                    {% for el in machines %}
                                    <option value="" hidden></option>
                                    <option class="option-values" value="{{ el.id }}">{{ el.name }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                        <div class="equipment">
                            <label class="select-equipment">
                                <span class="field-name">Причина:</span>
                                <select class="select_equipment_data" name="reason"  required>
                                    {% for el in reason %}
                                    <option value="" hidden></option>
                                    <option class="option-values" value="{{ el.id }}">{{ el.reason }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                        <div class="equipment">
                            <label class="select-equipment">
                                <span class="field-name">Статус заявки:</span>
                                <select class="select_equipment_data" name="choices"  required>
                                    {% for value, label in choices %}
                                    <option class="option-values" value="{{ value }}">{{ label }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                    </div>
<!--                    <div class="upload_file">-->
<!--                        {{ form.as_p }}-->
<!--                        -->
<!--                    </div>-->
                    <div class="order_field">
                        <table class="orders-table">
                            <tr>
                                <th class="orders_header__item">№</th>
                                <th class="orders_header__item">Номенклатура</th>
                                <th class="orders_header__item">Кол-во</th>
                                <th class="orders_header__item">Ед. изм.</th>
                            </tr>
                            <tr id="orders-create-block" name="fff">
                                <td id="number_1" class="orders__item">1.</td>
                                <td class="orders__item" name="">
                                    <textarea form="order-form" name="textarea_1" id="" class="order-position"
                                              autocomplete="on" spellcheck="true" wrap="hard"
                                              contenteditable="true" rows="1" required oninput="adjustTextareaHeight(this)"></textarea>
                                </td>
                                <td class="orders__item">
                                    <input type="text" class="order-quantity" name="quantity_1" required>
                                </td>
                                <td class="orders__item">
                                    <select class="select-order" name="unit_1" required>
                                        <option value="шт." selected>шт.</option>
                                        <option value="кг.">кг.</option>
                                        <option value="л.">л.</option>
                                        <option value="л.">м.</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <div class="add-remove-field">
                            <button class="add-field-btn" type="button">
                                Добавить поле
                            </button>
                            <button class="remove-field-btn" type="button">
                                Удалить поле
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="create-order">
        <button form="order-form" class="create-order-button" type="submit">Создать</button>
        <button form="order-form" class="reset-order-button" type="reset">Сбросить</button>
    </div>
</main>
<div class="footer">
</div>
</body>
</html>