{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Домашняя страница</title>
</head>
<body>

  <div class="header">
      <nav>
          <ul class="head_menu">
              <li class="head_menu__item">
                  <a class="head_menu__link" href="{% url 'home' %}">
                      ТОИР Управление ремонтами и обслуживанием оборудования
                  </a>
              </li>
              <li class="head_menu__item">
                  <a class="head_menu__link" href="#">
                      Личный кабинет
                  </a>
              </li>
          </ul>
      </nav>
      <nav>
          <ul class="main_menu">
              <li class="main_menu__item">
                  <a class="main_menu__link" href="{% url 'home' %}">
                      Главная
                  </a>
              </li>
              <li class="main_menu__item">
                  <a class="main_menu__link" href="{% url 'order' %}">
                      Документооборот
                  </a>
              </li>
              <li class="main_menu__item">
                  <a class="main_menu__link" href="#">
                      Архив
                  </a>
              </li>
              <li class="main_menu__item">
                  <a class="main_menu__link" href="#">
                      Журнал
                  </a>
              </li>
          </ul>
      </nav>
  </div>
  <main>
      <div class="content">
            <h2>Техническое обслуживание и ремонт</h2>
            <p class="content_text">
                Техническое обслуживание и ремонт (ТОиР) — мероприятия, связанные с поддержанием и восстановлением
            работоспособности объекта (как правило, оборудования) при использовании его по назначению, хранении или
            транспортировке. Если игнорировать ТОиР, срок службы оборудования сокращается, увеличивается частота и
                длительность простоев, что снижает прибыль бизнеса.
            </p>
            К мероприятиям ТОиР стоит отнести:
            <ul>
                <li>
                    монтаж
                </li>
                <li>
                    наладку и настройку
                </li>
                <li>
                    ремонт
                </li>
                <li>
                   техническое обслуживание
                </li>
                <li>
                    модернизацию
                </li>
                <li>
                    мониторинг и диагностику
                </li>

            </ul>
            Все они взаимосвязаны.<br><br>

            <p class="content_text">
                К системам класса ТОиР причисляют все сопряженные с этими процессами инструменты (в т.ч. программные),
                техническую документацию и логистику, в частности, связанную с закупкой запчастей.</p>
            <p class="content_text">
                В зависимости от типа оборудования ТОиР может регламентироваться ГОСТами, конструкторской документацией
                и инструкциями по эксплуатации оборудования от производителя. По данным McKinsey на ТОиР требуется от 10
                до 25% эксплуатационных расходов оборудования.</p>
            <p class="content_text">
                ТОиР можно реализовывать собственными силами, создав специальное подразделение, или отдавать на аутсорсинг.
                В современном мире ТОиР и его аспекты автоматизируется при помощи специализированных программных решений,
                включая системы класса help desk для автоматизации процесс постпродажного и выездного сервиса.
            </p>

      </div>
      <div class="content">
        <h2>Цели и задачи ТОиР</h2>
          <p class="content_text">
              Как следует из определения, основная цель ТОиР — поддержание работоспособности оборудования, т.е.
              увеличение срока его эксплуатации и уменьшение вероятности отказа.</p>

          Эта глобальная цель связана с более материальными стремлениями бизнеса:
          <ul>
              <li>
                  Обеспечением безопасности работы с оборудованием, сокращением количества аварийных ситуаций.
              </li>
              <li>
                  Сокращением рисков внепланового простоя оборудования из-за поломки.
              </li>
              <li>
                  Сокращением затрат на обслуживание оборудования в целом или его конкретных узлов.
              </li>
              <li>
                  Достижением и сохранением уровня качества выпускаемой продукции.
              </li>
              <li>
                  Соблюдением регламентов по охране труда и безопасности производства для окружающей среды.
              </li>
              <li>
                  Соблюдением регламентов по охране труда и безопасности производства для окружающей среды.
              </li>
          </ul>

            <h4>Невнимание к ТОиР снижает срок эксплуатации оборудования и инфраструктуры.</h4>
            <p class="content_text">
                В итоге более частое обновление или ремонт ведут к росту себестоимости выпускаемых товаров или
                оказываемых услуг. К примеру, если не обслуживать автомобили, на которых монтажники выезжают на объекты,
                добираться до клиентов они будут дольше, а в пути могут застрять из-за непредвиденной поломки. Таким
                образом ТОиР напрямую сказывается на эффективности бизнеса.
            </p>

            Для достижения этих целей в рамках ТОиР специальное подразделение или внешний подрядчик на системном уровне
          решает следующие задачи:
            <ul>
                <li>
                    Обеспечивает регулярные осмотры и работы по обслуживанию и ремонту оборудования, включая закупку
                    необходимых запчастей и расходных материалов. Например, сервисная служба может проводить осмотр
                    томографа в соответствии с графиком от производителя. Или раз в год проводить техническое
                    обслуживание лифтового оборудования, попутно устраняя выявленные недочеты.
                </li>
                <li>
                    Организует анализ технического состояния оборудования и затрат на его обслуживание и ремонт.
                    К примеру, может анализироваться частота поломок конкретных моделей устройств, чтобы планировать
                    закупки запчастей или плановую замену оборудования.
                </li>
                <li>
                   Контролирует безопасность проведения всех этих работ.
                </li>
                <li>
                    Разрабатывает и оптимизирует процедуры, связанные с выполнением этих задач.
                </li>
            </ul>

      </div>
  </main>

  <footer class="footer">
  </footer>
</body>
</html>