
.content {
    display: block;
    height: auto;

}

.navigation-menu {
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
    width: 1450px;
    height: 100%;
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

}

.navigation-menu__button {
    display: block;
    box-sizing: border-box;
    width: 250px;
    height: 30px;
    padding: 0;
}

.navigation-menu__link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    text-decoration: none;
    color: black;
}

.orders {
     display: flex;

    border: 1px solid #cbd1d4;
    background-color: #f9f9f9;

    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

    width: 1450px;
    /*max-height: 100vh;*/
    height: auto;


    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    background: white;
}

.table-header {
    margin-bottom: 15px;
}

.table-header__item {
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

table {
  /* Схлопывание границы у таблицы */
  border-collapse: collapse;
  margin: 20px;
}

th, td {
  /* Видимая граница ячеек */
  border: 1px solid #000;
  /* Внутренний отступ и размер ячеек */
  padding: 5px;
  width: 200px;
  height: 50px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  vertical-align: left;
}

.even-row {
    background : #ffffff;
}

.odd-row {
    background: #e1e3e3;
}

.form-group {
    display: inline-block;
    width: 1450px;
    height: 50px;
}

.search-group {
    display: inline-block;
    width: auto;
  height: auto;
}

.menu {
    display: flex;
    border: border-box;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    border: 1px solid #cbd1d4;
    background-color: #e1e3e3;
    width: 1450px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.menu:first-of-type {
    margin-top: 115px;
}

.menu:nth-of-type(n + 2) {
    margin-top: 15px;
}


.select-form {
    display: flex;
    width: auto;
    height: auto;
}

.select-group {
    display: flex;
}

.select {
  display: inline-block;
  width: 100px;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto 0 auto 15px;
  border: 1px solid #cbd1d4;
  background-color: #f9f9f9;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #333333;
}

.field-name {
  display: inline-block;
  box-sizing: content-box;
  width: auto;
  height: auto;
  white-space: nowrap;
  margin: auto 0 auto 15px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #333333;
}

.form-button {
    display: inline-block;
    width: auto;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25px;
}

.search-form {
    display: flex;
    width: auto;
    height: auto;
    margin: auto 15px auto auto;
}
.search-field {
    display: inline-block;
    box-sizing: content-box;
    width: auto;
    height: auto;
    margin: auto 0 auto 15px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #333333;
}

.download-img {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto 0 auto;
}

/*.form-block {
    display: flex;
    border: 1px solid #cbd1d4;
    background-color: #f9f9f9;
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1450px;
    height: 1000px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    background: white;
}